@import "@/app.scss";

.about {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  flex-direction: column;

  > * {
    padding: 1rem;
  }

  > *:nth-child(odd) {
    background-color: $bg-secondary;
    color: $bg-navbar-primary;
  }

  > *:nth-child(even) {
    background-color: $bg-navbar-primary;
    color: $bg-secondary;
  }

  .aboutBody {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  article {
    p {
      font-size: 1.5rem;
      text-align: justify;
    }
  }

  figure {
    img {
      max-width: 100%;
      cursor: pointer;
    }
  }

  h1 {
    font-size: 2.5rem;
    text-align: center;
  }
  .personalInfo {
    .socialMedia {
      ul {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style-type: none;
        img {
          margin: 0.25rem;
        }
      }
    }
  }

  .education {
    .aboutBody {
      article {
        h2 {
          font-size: 2rem;
          a {
            text-decoration: none;
            color: $bg-secondary;
          }
        }
        h3 {
          font-size: 1.5rem;
        }
      }
    }
  }

  .techStack {
    .techStack-body {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      font-size: 1.25rem;

      .slideshow {
        width: 350px;
      }

      .prev {
        transform: scaleX(-1);

        :hover {
          transform: scaleX(-1);
        }
      }
    }
  }
}

@media (max-width: $media-breakpoint-size) {
  .personalInfo {
    .aboutBody {
      align-items: center;
      flex-direction: column-reverse;
    }
  }
  .education {
    .aboutBody {
      flex-direction: column;
    }
  }
}
