@import "@/app.scss";

.about {
  display: flex;
  background-color: $bg-secondary;
  margin: 1rem;
  justify-content: space-around;
  padding: 1rem;

  .aboutMe {
    > *:not(:last-child) {
      display: flex;
      justify-content: space-around;

      article {
        flex: 50%;
        h1 {
          font-size: 3rem;
          text-align: center;
        }

        p {
          font-size: 1.25rem;
        }
      }

      figure {
        flex: 50%;
        transform: scale(0.75);
      }
    }

    .personalInfo {
      align-items: center;
      .socialMedia {
        ul {
          display: flex;
          align-items: center;
          justify-content: center;
          list-style-type: none;
          img {
            height: 32px;
            width: 32px;
            margin: 0.25rem;
          }
        }
      }
    }

    .education {
      h2 {
        font-size: 1.75rem;
      }

      a {
        text-decoration: none;
      }

      h3 {
        font-size: 1.5rem;
      }
    }
  }

  .techStack {
    margin: 1rem;
    h1 {
      text-align: center;
      font-size: 3rem;
    }
    .techStack-body {
      height: 250px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      font-size: 1.25rem;

      .slideshow {
        width: 350px;
      }

      .prev {
        transform: scaleX(-1);

        :hover {
          transform: scaleX(-1);
        }
      }
    }
  }
}
