@import "@/app.scss";

.projects {
  background-color: $bg-secondary;
  margin: 1rem;
  padding: 1rem;
  min-height: calc(100vh - 8rem);
  display: flex;
  flex-direction: column;

  > * {
    display: flex;
  }

  .cardTracker {
    border: 2px solid $bg-navbar-primary;
    padding: 1rem;
    .leftSide {
      min-width: 50%;
      align-items: center;
      h1,
      h3 {
        text-align: center;
      }

      a {
        margin: 0.25rem;
      }

      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        li {
          list-style-type: none;
          a {
            img {
              width: 100px;
              height: 100px;
              margin: 0.25rem;
            }
          }
        }
      }
    }

    .rightSide {
      text-align: center;
      img {
        position: relative;
        max-width: 100%;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: $media-breakpoint-size) {
  .cardTracker {
    flex-direction: column;

    .leftSide {
      width: 100%;
    }
  }
}
