@import "@/app.scss";

.projects {
  background-color: $bg-secondary;
  margin: 1rem;
  padding: 1rem;
  min-height: calc(100vh - 8rem);

  > * {
    display: flex;
    flex-direction: row;
  }

  .cardTracker {
    .leftSide {
      width: 40%;
      align-items: center;
      h1,
      h2 {
        text-align: center;
      }

      a {
        margin: 0.25rem;
      }

      ul {
        display: flex;
        flex-wrap: wrap;
        li {
          list-style-type: none;
          a {
            img {
              width: 100px;
              height: 100px;
              margin: 0.25rem;
            }
          }
        }
      }
    }

    .rightSide {
      width: 60%;
      text-align: center;
      img {
        position: relative;
        width: 100%;
      }
    }
  }
}
