@import "@/app.scss";

.header {
  align-items: center;
  background-color: $bg-navbar-primary;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
  height: 3.25rem;

  > ul {
    display: flex;
    list-style-type: none !important;
    margin-right: 0.5rem;

    li {
      margin: 0.1rem;
    }
  }
}
