$bg-navbar-primary: #363020;
$text-primary: #eaffda;
$bg-hover: #605c4e;
$bg-primary: #a49966;
$bg-secondary: #c7c7a6;
$page-height: calc(100vh - 5.25rem);

:root {
  margin: 0;
  padding: 0;
  background-color: $bg-primary;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@mixin fade($isFading) {
  @if $isFading == true {
    animation-name: fade-out;
  } @else {
    animation-name: fade-in;
  }
  animation-duration: 1.2s;
}
